@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

body {
    letter-spacing: .02em;
}
/* .App {

} */
.header {
    background-color: #fff;
    height: 114px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid 1px #e3e3e3;
}
.headLeft {
    display: flex;
    flex-direction: row;
}
.headRight {
    flex-direction: column;
}
.logo {
    background: url("https://www.thenorthface.com/etc/designs/vfcorp/thenorthface/clientlibs/global/images/common/logo-tnf.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    margin: 15px;
}
.headNav {
    margin-top: 95px;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
    /* letter-spacing: .12em; */
    font-weight: 700;
    margin-top: 70px;
}
a {
    color: #000;
}
a:visited {
    color: #000000;
}
a:hover {
    color: #e72b1e;
    cursor: pointer;
}
.drop_mens_invis {
    position: absolute;
    display: none;
    }
.drop_mens_vis {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 9999;
}
.drop_womens_invis {
    position: absolute;
    display: none;
    }
.drop_womens_vis {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 9999;
}
.drop_kids_invis {
    position: absolute;
    display: none;
    }
.drop_kids_vis {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 9999;
}
.drop_shoes_invis {
    position: absolute;
    display: none;
    }
.drop_shoes_vis {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 9999;
}
.drop_equipment_invis {
    position: absolute;
    display: none;
    }
.drop_equipment_vis {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 9999;
}
.off_top {
    position: absolute;
    top: -80px;
    width: 100%;
    height: 30px;
}
.off {
    z-index: 9999;
    background-color: #ffffff00;
    height: 150vh;
    width: 100%;
    }
.mens_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    /* text-transform: uppercase; */
}
.features {
    font-weight: 700;
    height: 250px;
    width: 175px;
    padding-left: 103px;
    margin-right: 30px;
    margin-top: 8px;
}
.features li {
    height: 34px;
    width: 175px;
    padding: 10px;
    font-size: 14px;
    letter-spacing: .12em;
}
.features li:hover {
    background-color: #e3e3e3;
}
#mens_lists_title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .12em;
    color: #000 ;
    margin-top: 12px;
    margin-bottom: 12px;
}
#mens_lists_title a:hover {
    color: #000;
    cursor: pointer;
}
.mens_lists {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .12em;
    color: #9b9b9b;
}
.mens_lists li a {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .12em;
    color: #9b9b9b;
}
.mens_lists li a:hover {
    color: #e72b1e;
    cursor: pointer;
}
.mens_lists li {
    margin-bottom: 14px;
}
.shipping_drop {
    width: 100%;
    background: #e3e3e3;
    color: #2a2a2a;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    padding: 10px;
    letter-spacing: .02em;
    border-bottom: solid 11px #fff;
}
.directory {
    font-size: 14px;
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
    letter-spacing: .12em;
    font-weight: 700;
}
.directoryNav {
    margin-top: 20px;
}
.search {
    margin-top: 30px;
    margin-left: 30%;
    display: flex;
    flex-direction: row;
}
.search input {
    height: 32.666667px;
    width: 214px;
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
    border-left: solid 1px lightgrey;
    border-right: none;
    color: #000;
}
.enter_box {
    width: 36px;
    height: 36px;
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
    border-right: solid 1px lightgrey;
    padding: 8px;
}
.enter_box img {
    height: 20px;
    width: 20px;
}
.site_map {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: solid 1px lightgrey;
    margin-top: 40px;
    margin-bottom: 10px;
}
.map_margin {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 60px;
    /* padding-top: 50px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.map_title {
    font-size: 15px;
    font-weight: 700;
}
.map_title li {
    font-size: 12px;
    margin-top: 20px;
}
.main_top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 75px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 200px;
    align-items: center;
    text-align: center;
    font-size: 13px;
    letter-spacing: .01em;
}
.main_top button {
    background: #e72b1e;
    color: #fff;
    width: 262px;
    height: 42px;
    border: solid 1px;
    border-color: #be1f14;
    font-weight: 700;
    font-size: 15px;
}
.main_top button:hover {
    background: #be1f14;
}
.top_input {
    display: flex;
    flex-direction: row;
}
.main_top input {
    height: 42px;
    width: 218px;
}
.top_img {
    height: 42px;
    width: 44px;
}
.top_text {
    margin-top: 15px;
    margin-bottom: 15px;

}
.main_bottom {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 75px;
    margin-bottom: 75px;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: .01em;
}
.bottom_text {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    line-height: 18px;
}
.bottom_row_one {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.bottom_row_two {
    display: flex;
    flex-direction: row;
}