.mens_nav {
    display: flex;
    margin-left: 6%;
}
.mens_main {
    background-image: url("../images/mens_main.png");
    background-size: cover;
    background-position: center;
    height: 440px;
    width: 100%;
}
.mens_three {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.mens_three img {
    height: 240px;
    width: 406px;
    /* width: 530px;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%; */
}
.mens_new {
    display: flex;
    flex-direction: column;
    margin: 20px 75px 0 75px;
}
.mens_new_location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 275px;
}
.filter {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.filter_section {
    width: 20%;
    border: solid 1px lightgray;
    padding: 10px;
}